<!DOCTYPE html>
<html>
  <head>
    <title>The Bushido Lab, A Blockchain Development Company</title>
    <%= csrf_meta_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112136387-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112136387-1');
    </script>
    <!-- META TAGS FOR SEO -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Bushido Lab is a Cryptocurrency and Blockchain Software Development firm. Bushido Lab specializes in creating scalable, and innovative Blockchains.">
    <meta name="keywords" content="Blockchain, Cryptocurrency, Bitcoin, Hyperledger, Fabric, Permissioned Blockchain">
    <meta name="author" content="The Bushido Lab LLC">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="top">
    <div class="animsition">
      <!-- ************************ -->
      <!--  GO TO TOP               -->
      <!-- ************************ -->

<!--       <a href="#top" class="toTop">
        <i class="fa fa-angle-up"></i>
      </a> -->
      <!-- ************************ -->
      <!--   PAGE BORDER            -->
      <!-- ************************ -->

<!--       <span class="frame-line animated top-frame"></span>
      <span class="frame-line animated right-frame"></span>
      <span class="frame-line animated bottom-frame"></span>
      <span class="frame-line animated left-frame"></span> -->

      <%= render partial: 'navbar' %>
      <%= yield %>
      <%= render partial: 'footer' %>

      <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.bushidolab.com",
        "logo": "https://imgur.com/5JU77xq",
        "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "+1-305-764-8836",
          "contactType": "customer service"
        }],
        "sameAs": [
          "https://twitter.com/bushidolab",
          "https://www.linkedin.com/company/the-bushido-lab/",
          "https://www.instagram.com/bushidolab/"
        ]
      }
      </script>
          

    </div>
  </body>
</html>
